body { padding-top: 60px; }
.navbar-brand {
  float: left;
  height: 90px; 
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #f5f5f5;
}
.footer > .container {
  padding-right: 5px;
  padding-left: 5px;
}
.container .text-muted {
    margin: 10px 0;
    text-align: center;
}

body > .container-fluid {
    margin-top: 40px;
    /*border: solid 1px;*/
}


