/* CSS Document */
html{
	overflow:auto;
}


body{
	margin:0;
	padding:0;
	font-family: arial, helvetica sans-serif; /*"Times New Roman", Times, serif;*/
	font-size:12px;
}


#container{
	margin:0 auto;
	width:98%;
}
#header{
	margin:0 auto;
	border-bottom:solid 2px #eeeeee;
	width:99%;
	/*min-height:40px;*/
	/*padding:8px;*/
}

#logo{
	float:left;
	width:36%;
	/*height:50px;*/
/*	border:solid 1px #f23;*/
}
#logo img{
	width:195px;
	height:38px;
}

.partheader{
	text-align:right;
	float:left;
	font-size:13px;
	line-height:1.6em;
	color:#009DDC;
	font-weight:bold;
	width:31%;
/*	border:solid 1px #eeeeee;*/
}
.partheader span{
	margin-left:20px;
}
#entity_details{
	float:right;
	width:28%;
	text-align:right;
	/*border:solid 1px #f23;*/
}
.username{
	color:#6FBC57;
	font-size:11px;
	text-align:right;
	vertical-align:bottom;
}
#content{
	margin:0 auto;
	/*border-bottom:solid 1px #eeeeee;*/
	width:99%;
}
#outbox_sms,#send_sms{
	width:100%;
	min-height:10px;
}



#write{
	padding:0px 10px 0px 10px;
}

#response{
	border-top:solid 1px #eeeeee;
	text-align:right;
	padding-right:10px;
}
.form-group {
	margin-bottom: 4px;
}
label {
	display: inline-block;
	margin-bottom: 5px;
	font-weight: 700;
}
.form-group a{
	text-decoration:none;
}
.form-group a:hover{
	text-decoration:none;
}

.form-control {
	display: inline-block;
	width: 99%;
	padding: 1px 4px;
	font-size: 14px;
	line-height: 1.4;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.form-group textarea{
	height:70px;
	overflow:auto;
}



.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 0px 5px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.btn-success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
color: #fff;
background-color: #47a447;
border-color: #398439;
}



.clear_both{
	clear:both;
}

#segments{
	width:100%;
	min-height:10px;	
	background:#ffffff; /*#d8ecf0;*/
	font-family: monospace;
	margin-top: 2px;
}

.form-group textarea{
	height:120px;
}

/* -------------------------------custom bootstrap table------------------------------- */
table {
  max-width: 100%;
  background-color: transparent;
}
