.pagination {
	margin:0 ! important;
}

form, #outbox_sms {
	margin-top:4px;
}

.navbar {
	max-height: 55px;
	margin-bottom: 1px;
	border: 1px solid transparent;
	border-bottom:solid 2px #eeeeee;
	background:#ffffff;
}

.navbar-brand {
	float: left;
	padding: 1px 15px 1px 15px;
	font-size: 18px;
	line-height: 20px;
	height: 50px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #0088cc;
	font-weight:bold;
	background-color: #ffffff;

}

#liUser >a{
	color:#449D44;

}



footer{
	border-top:solid 2px #26afaf;
	padding-left:30px;
	background:#fafafa;
}

#content_container{
	margin-bottom:24px;
}





/* modify segments table to resize */
#tblSegments>thead>tr>th, #tblSegments>tbody>tr>th, #tblSegments>tfoot>tr>th, #tblSegments>thead>tr>td{
	padding: 3px;
	background-color: #f5f5f5;

}

#tblSegments>tbody>tr>td, #tblSegments>tfoot>tr>td {
	padding: 3px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	font-size:12px;
	bgcolor:#00FF00;
	background-color: #f5f5f5;
}

.form-group{
	margin-bottom:5px;
}


#prefmenu{
	padding:5px;
}
