/* here you can put your own css to customize and override the theme */
/* Wrapper for above 991px */
@media (min-width: 991px) {
  /* 991px */
.wrapper {
    margin: 1px; } }

	/* Body */
body::before {
	    background: rgba(0, 0, 0, 0) linear-gradient(to right, #0479b5 50%, #78be20 100%) repeat scroll 0 0;
	    content: "";
	    display: block;
	    height: 5px;
	    width: 100%;
	}

body {
	  font-size: 11px;
	  background: #FFFFFF; }

.page-header .navbar-fixed-top {
	    background: rgba(0, 0, 0, 0);
	    left: 0;
	    padding: 3px 25px;
	    right: 0;
	    top: 0;
}

.page-on-scroll .page-header .navbar-fixed-top {
    padding: 2px 25px;
}

.page-header .topbar-actions {
	    right: 25px;
	    top: 3px;
	}
	
.page-on-scroll .page-header .topbar-actions {
	    right: 25px;
	    top: 2px;
	}

.page-content {
	    padding-top: 25px;
	}

.doc-content-2 .doc-head .company-address {
	    color: #7e8691;
	    font-size: 12px;
	    text-align: Left;
	}

.doc-content-2 .doc-cust-add {
	    margin-bottom: 5px;
	}
	
.doc-content-2 .doc-body h4 {
	margin-bottom: 5px;
	margin-top: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.doc-content-2 .doc-body .portlet.light .portlet-body {
    padding-top: 4px;
}

.doc-content-2 .doc-body .portlet > .portlet-title {
    margin-bottom: 5px;
}

.doc-content-2 .doc-body .portlet.light {
    padding: 12px 10px 5px;
}

.doc-content-2 .doc-body .portlet {
    margin-bottom: 10px;
}

.doc-content-2 .doc-body .note {
	margin: 0 0 5px;
    padding: 5px 30px 5px 15px;
}

.doc-content-2 .doc-cust-add hr, p {
    margin: 10px 0;
}

.doc-content-2 .doc-cust-add .h1, .h2, .h3, h1, h2, h3 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.doc-content-2 .doc-head {
    margin-bottom: 15px;
}

.travdoc .form .form-section, .portlet-form .form-section {
    margin: 10px 0;
    padding-bottom: 5px;
}

.travdoc .portlet > .portlet-title {
    margin-bottom: 5px;
}

.travdoc .mt-checkbox, .mt-radio {
    font-size: 12px;
    margin-bottom: 5px;
}

.travdoc .mt-checkbox > span, .mt-radio > span {
    height: 16px;
    width: 16px;
}